@font-face {
    font-family:Raleway-ExtraBold ;
    src: url(Fonts/Raleway-ExtraBold.ttf);
}
body{
    margin:0px;
    min-width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-direction: column;
    /* gap: 20px; */
}

#fc{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 57px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 14px;
    width: 100%;
}
.Add{
    font-family: 'Raleway';
    background-color: rgb(254, 222, 13);
    padding: 11px 21px;
     border-style: unset;
     border-radius: 10px;
    cursor: pointer;

}
.input{
    width: 90%;
}
.container{
    background-color: aquamarine;
    text-align: center;
    width: 100%;   
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
   background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 2px 15px rgba(0, 0, 0, 0.12), 0px 10px 80px rgba(0, 0, 0, 0.06), 0px 40px 100px rgba(0, 0, 0, 0.08);
    border-radius: 23px;
    padding: 20px;
    gap: 10px;

}
.container>*{
    margin: 0%;
    
}
.desc{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.desc>p{
    font-family:'Raleway';
    opacity: 50%;
    font-size: 10px;
   
}

.desc>*{
    margin: 0px;
}

h1{
    font-family: Raleway-Extrabold;
    font-size:55px;
    text-align: center;
    color:rgb(246, 248, 251);
    margin: 0px;

}

ul{
    padding-left: 0%;
list-style-type:symbols();    
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:100vh;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    background: #35383E0D;
    border-radius: 8px;
    padding: 5px;
    padding-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    opacity: 95%;

}

/* style pour l'icone de li */
.del_icon {
    
    background-image: url(images/close-button-svgrepo-com-black.svg);   
    background-size: contain;
    background-repeat: no-repeat;
    
    max-width: 100%;
    height: auto;
    min-width: 14px;
  min-height: 14px;
  margin-inline-end: 13px;
   
  }
  .del_icon:hover{
    background-image: url(images/close-button-svgrepo-com-red.svg);
    background-size: contain;
    cursor: pointer;
  }

 @media  (max-width:500px){
    .form{
        width: 70%;
    }
    .container{
        width: 70%;
    }
    ul{
        width: 100%;
    }

 }
 @media (min-width:500px) and (max-width:1200px) {
    .form{
        width: 70%;
    }
    .container{
        width: 70%;
    }
    ul{
        width: 100%;
    }

 }